<div class="content-body">
  <div class="container-fluid">
    <div
      class="d-flex align-items-center flex-wrap search-job bg-white rounded py-3 px-3 mb-4"
    >
      <svg
        class="min-w20 primary-icon"
        width="20"
        height="24"
        viewBox="0 0 20 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 0C4.93398 0 0.8125 4.12148 0.8125 9.1875C0.8125 10.8091 1.24094 12.4034 2.05145 13.7979C2.24041 14.123 2.45162 14.4398 2.67934 14.7396L9.60081 24H10.3991L17.3207 14.7397C17.5483 14.4398 17.7595 14.1231 17.9485 13.7979C18.7591 12.4034 19.1875 10.8091 19.1875 9.1875C19.1875 4.12148 15.066 0 10 0ZM10 12.2344C8.31995 12.2344 6.95312 10.8675 6.95312 9.1875C6.95312 7.50745 8.31995 6.14062 10 6.14062C11.68 6.14062 13.0469 7.50745 13.0469 9.1875C13.0469 10.8675 11.68 12.2344 10 12.2344Z"
          fill="#40189D"
        />
      </svg>

      <div class="col-lg-9 d-md-flex">
        <input
          class="form-control input-rounded me-auto mb-md-0 mb-3"
          type="text"
          placeholder="Search by Titre, Company or any jobs keyword..."
          [(ngModel)]="term"
        />
      </div>
    </div>

    <div class="d-flex flex-wrap mb-4 align-items-center search-filter">
      <div class="me-auto mb-2 pe-2">
        <h6 class="text-black fs-16 font-w600 mb-1" value="listoffre.length">
          Showing {{ listoffre.length }} Jobs Results
        </h6>

        <span class="fs-14">Based your preferences</span>
      </div>

      <ul class="nav grid-tabs">
        <li class="nav-item">
          <a
            href="#List"
            class="nav-link"
            data-bs-toggle="tab"
            aria-expanded="false"
          >
            <svg
              class="scale5 primary-icon"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 7.5H3C2.17275 7.5 1.5 6.82687 1.5 6V3C1.5 2.17313 2.17275 1.5 3 1.5H6C6.82725 1.5 7.5 2.17313 7.5 3V6C7.5 6.82687 6.82725 7.5 6 7.5ZM3 3V6H6.00113L6 3H3ZM22.5 4.5C22.5 4.08544 22.1642 3.75 21.75 3.75H9.75C9.33581 3.75 9 4.08544 9 4.5C9 4.91456 9.33581 5.25 9.75 5.25H21.75C22.1642 5.25 22.5 4.91456 22.5 4.5ZM6 15H3C2.17275 15 1.5 14.3269 1.5 13.5V10.5C1.5 9.67313 2.17275 9 3 9H6C6.82725 9 7.5 9.67313 7.5 10.5V13.5C7.5 14.3269 6.82725 15 6 15ZM3 10.5V13.5H6.00113L6 10.5H3ZM22.5 12C22.5 11.5854 22.1642 11.25 21.75 11.25H9.75C9.33581 11.25 9 11.5854 9 12C9 12.4146 9.33581 12.75 9.75 12.75H21.75C22.1642 12.75 22.5 12.4146 22.5 12ZM6 22.5H3C2.17275 22.5 1.5 21.8269 1.5 21V18C1.5 17.1731 2.17275 16.5 3 16.5H6C6.82725 16.5 7.5 17.1731 7.5 18V21C7.5 21.8269 6.82725 22.5 6 22.5ZM3 18V21H6.00113L6 18H3ZM22.5 19.5C22.5 19.0854 22.1642 18.75 21.75 18.75H9.75C9.33581 18.75 9 19.0854 9 19.5C9 19.9146 9.33581 20.25 9.75 20.25H21.75C22.1642 20.25 22.5 19.9146 22.5 19.5Z"
                fill="#40189D"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane" id="List">
        <div class="row">
          <div class="col-xl-12">
            <div
              class="d-flex flex-wrap search-row bg-white py-3 mb-3 rounded justify-content-between align-items-center"
              *ngFor="
                let p of listoffre
                  | filter : term
                  | paginate : { itemsPerPage: 4, currentPage: p }
              "
            >
              <div
                class="d-flex col-xl-4 col-xxl-3 col-lg-4 col-sm-6 align-items-center"
              >
                <img
                  class="mb-4"
                  width="80"
                  height="80"
                  alt=""
                  src="http://localhost:4000/getfile/{{ p.entreprise.picture }}"
                />
                <div>
                  <h2 class="title">
                    <a
                      href="profile.html"
                      class="text-black"
                      [routerLink]="['/detailoffre', p._id]"
                      >{{ p.titre }}</a
                    >
                  </h2>
                  <span class="text-primary">{{ p.description }}</span>
                </div>
              </div>
              <div class="d-flex col-xl-3 col-lg-4 col-sm-6 align-items-center">
                <svg
                  class="me-3 ms-lg-0 ms-sm-auto ms-0 mt-sm-0 mt-3"
                  width="54"
                  height="54"
                  viewBox="0 0 54 54"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect width="54" height="54" rx="15" fill="#2BC155"></rect>
                  <g clip-path="url(#clip6)">
                    <path
                      d="M27.0001 19.84C23.5987 19.84 20.6536 22.2024 19.9157 25.5229L17.4992 36.397C17.4815 36.4768 17.4725 36.5583 17.4725 36.64C17.4725 37.2585 17.974 37.76 18.5925 37.76H35.4077C35.4894 37.76 35.5709 37.751 35.6507 37.7333C36.2545 37.5991 36.6352 37.0008 36.501 36.397L34.0846 25.5229C33.3467 22.2024 30.4016 19.84 27.0001 19.84ZM27.0001 17.6C31.4515 17.6 35.3056 20.6916 36.2712 25.037L38.6877 35.9111C39.0902 37.7226 37.9481 39.5174 36.1366 39.92C35.8973 39.9731 35.6529 40 35.4077 40H18.5925C16.7369 40 15.2325 38.4956 15.2325 36.64C15.2325 36.3948 15.2594 36.1504 15.3126 35.9111L17.729 25.037C18.6947 20.6916 22.5488 17.6 27.0001 17.6Z"
                      fill="white"
                    ></path>
                    <path
                      d="M29.2402 24.32C29.8588 24.32 30.3602 24.8214 30.3602 25.44C30.3602 26.0585 29.8588 26.56 29.2402 26.56H26.4402C26.1309 26.56 25.8802 26.8107 25.8802 27.12C25.8802 27.4292 26.1309 27.68 26.4402 27.68H27.5602C29.1066 27.68 30.3602 28.9336 30.3602 30.48C30.3602 32.0264 29.1066 33.28 27.5602 33.28H24.7602C24.1416 33.28 23.6402 32.7785 23.6402 32.16C23.6402 31.5414 24.1416 31.04 24.7602 31.04H27.5602C27.8695 31.04 28.1202 30.7892 28.1202 30.48C28.1202 30.1707 27.8695 29.92 27.5602 29.92H26.4402C24.8938 29.92 23.6402 28.6664 23.6402 27.12C23.6402 25.5736 24.8938 24.32 26.4402 24.32H29.2402Z"
                      fill="white"
                    ></path>
                    <path
                      d="M25.8802 23.2C25.8802 22.5814 26.3817 22.08 27.0002 22.08C27.6188 22.08 28.1203 22.5814 28.1203 23.2V25.44C28.1203 26.0586 27.6188 26.56 27.0002 26.56C26.3817 26.56 25.8802 26.0586 25.8802 25.44V23.2Z"
                      fill="white"
                    ></path>
                    <path
                      d="M28.1203 34.4C28.1203 35.0186 27.6188 35.52 27.0002 35.52C26.3817 35.52 25.8802 35.0186 25.8802 34.4V32.16C25.8802 31.5414 26.3817 31.04 27.0002 31.04C27.6188 31.04 28.1203 31.5414 28.1203 32.16V34.4Z"
                      fill="white"
                    ></path>
                    <path
                      d="M25.8001 18.304C26.0298 18.8784 25.7504 19.5302 25.1761 19.7599C24.6018 19.9896 23.95 19.7103 23.7203 19.136L21.4803 13.536C21.1163 12.626 22.0141 11.7204 22.9272 12.0766C23.7659 12.4037 24.391 12.56 24.7602 12.56C24.8521 12.56 24.9283 12.5404 25.0946 12.4697C25.1387 12.4509 25.1906 12.428 25.3122 12.3742C25.8915 12.1203 26.3491 12 27.0002 12C27.6497 12 28.1146 12.1206 28.6957 12.3721C28.8432 12.4366 28.9021 12.4623 28.9542 12.4838C29.0978 12.5429 29.1669 12.56 29.2402 12.56C29.5878 12.56 30.2185 12.4023 31.0812 12.0735C31.9932 11.7258 32.8825 12.6298 32.5201 13.536L30.2801 19.136C30.0503 19.7103 29.3985 19.9896 28.8242 19.7599C28.2499 19.5302 27.9705 18.8784 28.2003 18.304L29.6096 14.7807C29.4808 14.7936 29.3578 14.8 29.2402 14.8C28.8314 14.8 28.4927 14.7162 28.1013 14.5551C28.0241 14.5232 27.9394 14.4863 27.8064 14.4279C27.4822 14.2877 27.2985 14.24 27.0002 14.24C26.7048 14.24 26.5313 14.2856 26.2114 14.4258C26.1015 14.4745 26.0319 14.5052 25.9706 14.5313C25.5512 14.7095 25.2002 14.8 24.7602 14.8C24.6419 14.8 24.5189 14.7939 24.3911 14.7816L25.8001 18.304Z"
                      fill="white"
                    ></path>
                  </g>
                  <defs>
                    <clipPath id="clip6">
                      <rect
                        width="28"
                        height="28"
                        fill="white"
                        transform="translate(13 12)"
                      ></rect>
                    </clipPath>
                  </defs>
                </svg>
                <div>
                  <h4 class="sub-title text-black">{{ p.salaire }}</h4>
                </div>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div>
                  <h4 class="sub-title text-black">{{ p.category.name }}</h4>
                </div>
              </div>
              <div
                class="d-flex col-xl-3 col-lg-4 col-sm-6 mt-lg-0 mt-3 align-items-center"
              >
                <svg
                  class="me-3"
                  width="54"
                  height="54"
                  viewBox="0 0 54 54"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect width="54" height="54" rx="15" fill="#FBA556"></rect>
                  <path
                    d="M27 15C21.934 15 17.8125 19.1215 17.8125 24.1875C17.8125 25.8091 18.2409 27.4034 19.0515 28.7979C19.2404 29.123 19.4516 29.4398 19.6793 29.7396L26.6008 39H27.3991L34.3207 29.7397C34.5483 29.4398 34.7595 29.1231 34.9485 28.7979C35.7591 27.4034 36.1875 25.8091 36.1875 24.1875C36.1875 19.1215 32.066 15 27 15ZM27 27.2344C25.32 27.2344 23.9531 25.8675 23.9531 24.1875C23.9531 22.5075 25.32 21.1406 27 21.1406C28.68 21.1406 30.0469 22.5075 30.0469 24.1875C30.0469 25.8675 28.68 27.2344 27 27.2344Z"
                    fill="white"
                  ></path>
                </svg>
                <div>
                  <h4 class="sub-title text-black">{{ p.place.name }}</h4>
                  <span> {{ p.place.name }}</span>
                </div>
              </div>
              <div>
                <h4 class="sub-title text-black">{{ p.skill.nbexperience }}</h4>
              </div>

              <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-danger light sharp"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <svg
                    width="18px"
                    height="18px"
                    viewBox="0 0 24 24"
                    version="1.1"
                  >
                    <g
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <rect x="0" y="0" width="24" height="24"></rect>
                      <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                      <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                      <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                    </g>
                  </svg>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" (click)="deleteoffres(p._id)"
                    >Delete</a
                  >
                  <a
                    class="dropdown-item"
                    (click)="confirmoffres(p._id)"
                    *ngIf="!p.confirm"
                    >Confirm</a
                  >
                  <a
                    class="dropdown-item"
                    [routerLink]="['/home/updateoffre', p._id]"
                    >Update</a
                  >
                  <a
                    class="dropdown-item"
                    [routerLink]="['/home/detailoffre', p._id]"
                    >Détail</a
                  >
                </div>
              </div>
            </div>
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
