<div class="content-body">
  <div>
    <div class="row">
      <div class="col-12">
        <h2 class="tm-block-title d-inline-block">Add Category</h2>
      </div>
    </div>
    <div class="row tm-edit-product-row">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <form [formGroup]="form" action="" class="tm-edit-product-form">
          <div class="form-group mb-3">
            <label for="name">Name </label>
            <input
              id="name"
              formControlName="name"
              type="text"
              class="form-control validate"
              required=""
            />
          </div>

          <div class="form-group mb-3">
            <label for="name">Description </label>
            <input
              id="name"
              formControlName="description"
              type="text"
              class="form-control validate"
              required=""
            />
          </div>
        </form>
      </div>

      <div class="col-12">
        <button
          type="submit"
          class="btn btn-primary btn-block text-uppercase"
          (click)="createcategory()"
        >
          Create Category
        </button>
      </div>
    </div>
  </div>
</div>
