









.btn{
    width: 78px;
    height: 32px;
    background-color: #1bd084;
    margin-top: 0;
    margin-left: -110px;
    padding: 0px;
    text-align: center;
    color: aliceblue;
}

.ttt {
    width: 74px;
    height: 32px;
    background-color: #ff6746;
    margin-top: 20%;
    margin-right: -59px;
    margin-bottom: 10px;
    padding: 0px;
    text-align: center;
    color: aliceblue;
    border-radius: 0.625rem;
    border: none;
}