<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 col-xxl-8">
        <div class="row">
          <div class="col-xl-12">
            <div
              class="d-flex flex-wrap search-job search-job-xl bg-white rounded py-3 px-3 mb-4 align-items-center"
            ></div>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane show active" id="Boxed">
            <div class="row">
              <div
                class="col-xl-3 col-xxl-4 col-lg-4 col-sm-6"
                *ngFor="let p of listentreprise; let index = index"
              >
                <div class="card text-center">
                  <div class="card-body">
                    <img
                      class="mb-4"
                      width="80"
                      height="80"
                      alt=""
                      src="http://localhost:4000/getfile/{{ p.picture }}"
                    />

                    <h6 class="font-w600 text-black fs-16 mb-1">
                      {{ p.fullname }}
                    </h6>
                    <h2 class="font-w600 text-black fs-16 mb-1">
                      {{ p.email }}
                    </h2>
                    <h2 class="font-w600 text-black fs-16 mb-1">
                      {{ p.website }}
                    </h2>
                    <h2 class="font-w600 text-black fs-16 mb-1">
                      {{ p.photo }}
                    </h2>

                    <h2 class="font-w600 text-black fs-16 mb-1">
                      {{ p.phone }}
                    </h2>

                    <button
                      type="button"
                      class="ttt"
                      (click)="deleteentreprises(p._id)"
                    >
                      Delete
                    </button>
                    <button
                      type="button"
                      class="btn"
                      (click)="confirmentreprises(p._id)"
                      *ngIf="!p.confirmed"
                    >
                      Confirm
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
