<div id="preloader" style="display: none">
  <div class="sk-three-bounce">
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
  </div>
</div>

<div id="main-wrapper" class="show">
  <div class="content-body" style="min-height: 1100px">
    <div class="container-fluid">
      <div class="page-titles">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Table</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="javascript:void(0)">Datatable</a>
          </li>
        </ol>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Basic Datatable</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div id="example_wrapper" class="dataTables_wrapper">
                  <div class="dataTables_length" id="example_length">
                    <label
                      >Show
                      <select
                        name="example_length"
                        aria-controls="example"
                        class=""
                      >
                        <option value="{{ listplace.length }}">
                          {{ listplace.length }}
                        </option>
                      </select>
                      entries</label
                    >
                  </div>
                  <div id="example_filter" class="dataTables_filter">
                    <label
                      >Search:<input
                        [(ngModel)]="term"
                        type="search"
                        class=""
                        placeholder=""
                        aria-controls="example"
                    /></label>
                  </div>
                  <div>
                    <button
                      type="button"
                      class="ttt"
                      data-bs-toggle="modal"
                      data-bs-target=".bd-example-modal-sm1"
                    >
                      Add Place
                    </button>
                  </div>
                  <table
                    id="example"
                    class="display table-responsive-md dataTable"
                    role="grid"
                    aria-describedby="example_info"
                  >
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting_asc"
                          tabindex="0"
                          aria-controls="example"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Name: activate to sort column descending"
                          style="width: 259.609px"
                        >
                          numero
                        </th>
                        <th
                          class="sorting_asc"
                          tabindex="0"
                          aria-controls="example"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Name: activate to sort column descending"
                          style="width: 259.609px"
                        >
                          Name
                        </th>

                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="example"
                          rowspan="1"
                          colspan="1"
                          aria-label="Salary: activate to sort column ascending"
                          style="width: 164.078px"
                        >
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let p of listplace
                            | filter : term
                            | paginate : { itemsPerPage: 5, currentPage: p };
                          let index = index
                        "
                      >
                        <td class="sorting_1">{{ index + 1 }}</td>
                        <td>{{ p.name }}</td>

                        <td>
                          <div class="d-flex">
                            <a
                              (click)="open(p)"
                              class="btn btn-primary shadow btn-xs sharp me-1"
                              data-bs-toggle="modal"
                              data-bs-target=".bd-example-modal-sm"
                              ><i class="fas fa-pencil-alt"></i
                            ></a>

                            &nbsp;
                            <a
                              (click)="deleteplaces(p._id)"
                              class="btn btn-danger shadow btn-xs sharp"
                              ><i class="fa fa-trash"></i
                            ></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <pagination-controls
                    (pageChange)="p = $event"
                  ></pagination-controls>
                </div>
              </div>
            </div>
          </div>

          <div
            class="modal fade bd-example-modal-sm"
            tabindex="-1"
            style="display: none"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>
                <div class="modal-body">
                  <form
                    [formGroup]="place"
                    action=""
                    class="tm-edit-product-form"
                  >
                    <div class="form-group mb-3">
                      <label for="name">Name </label>
                      <input
                        id="name"
                        formControlName="name"
                        type="text"
                        class="form-control validate"
                        required=""
                      />
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger light"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="updateplace()"
                    data-bs-dismiss="modal"
                  >
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div
            class="modal fade bd-example-modal-sm1"
            tabindex="-1"
            style="display: none"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>
                <div class="modal-body">
                  <form
                    [formGroup]="placeajout"
                    action=""
                    class="tm-edit-product-form"
                  >
                    <div class="form-group mb-3">
                      <label for="name">Name </label>
                      <input
                        id="name"
                        formControlName="name"
                        type="text"
                        class="form-control validate"
                        required=""
                      />
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger light"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="addplace()"
                    data-bs-dismiss="modal"
                  >
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
