<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="javascript:void(0)">Form</a>
        </li>
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Element</a>
        </li>
      </ol>
    </div>

    <div class="col-xl-6 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="basic-form">
            <div class="col-xl-6 col-lg-6">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Disabled forms</h4>
                </div>
                <div class="card-body">
                  <div class="basic-form">
                    <form [formGroup]="form">
                      <div class="mb-3">
                        <label class="form-label">Titre</label>
                        <input
                          type="text"
                          formControlName="titre"
                          class="form-control"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input
                          type="text"
                          formControlName="description"
                          class="form-control"
                        />
                      </div>

                      <div class="mb-3">
                        <label class="form-label">Salaire</label>
                        <input
                          type="text"
                          formControlName="salaire"
                          class="form-control"
                        />
                      </div>

                      <div class="mb-3">
                        <label class="form-label">Date D'expiration</label>
                        <input
                          type="text"
                          formControlName="dateexpiration"
                          class="form-control"
                          placeholder="Disabled input"
                        />
                      </div>

                      <div class="mb-3">
                        <label class="form-label">Place</label>
                        <select class="form-control" formControlName="place">
                          <option *ngFor="let c of listplace" [value]="c._id">
                            {{ c.name }}
                          </option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <label class="form-label">Contrat</label>
                        <select class="form-control" formControlName="contrat">
                          <option *ngFor="let c of listcontrat" [value]="c._id">
                            {{ c.type }}
                          </option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Skills</label>
                        <select class="form-control" formControlName="skill">
                          <option *ngFor="let c of listskill" [value]="c._id">
                            {{ c.nbexperience }}
                          </option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select class="form-control" formControlName="category">
                          <option
                            *ngFor="let c of listcategory"
                            [value]="c._id"
                          >
                            {{ c.name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          disabled=""
                        />
                        <label class="form-check-label">
                          Can't check this
                        </label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-primary"
              (click)="updateoffres()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
