/* .ttt {
    width: 120px;
    height: 32px;
    background-color: #1bd084;
    margin-top: 1%;
    margin-right: -59px;
    margin-bottom: 10px;
    margin-left: 22px;
    padding: 0px;
    text-align: center;
    color: aliceblue;
    border-radius: 0.625rem;
    border: none;
} */