<div
  class="modal fade bd-example-modal-sm"
  tabindex="-1"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="place" action="" class="tm-edit-product-form">
          <div class="form-group mb-3">
            <label for="name">Name </label>
            <input
              id="name"
              formControlName="name"
              type="text"
              class="form-control validate"
              required=""
            />
          </div>

          <div class="form-group mb-3">
            <label for="name">Description </label>
            <input
              id="name"
              formControlName="description"
              type="text"
              class="form-control validate"
              required=""
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger light"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addplace()"
          data-bs-dismiss="modal"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
