<div class="content-body">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Profile Datatable</h4>
        <br />
      </div>
      <div>
        <button type="button" class="ttt" routerLink="/home/addcategory">
          Add category
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="example3" class="display table-responsive-lg">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of listcategory; let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ a.name }}</td>
                <td>{{ a.description }}</td>
                <td>
                  <div class="d-flex">
                    <a
                      (click)="open(a)"
                      class="btn btn-primary shadow btn-xs sharp me-1"
                      data-bs-toggle="modal"
                      data-bs-target=".bd-example-modal-sm"
                      ><i class="fas fa-pencil-alt"></i
                    ></a>
                    &nbsp;
                    <a
                      (click)="deletecategory(a._id)"
                      class="btn btn-danger shadow btn-xs sharp"
                      ><i class="fa fa-trash"></i
                    ></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade bd-example-modal-sm"
    tabindex="-1"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body">
          <form
            [formGroup]="categoryupdate"
            action=""
            class="tm-edit-product-form"
          >
            <div class="form-group mb-3">
              <label for="name">Name </label>
              <input
                id="name"
                formControlName="name"
                type="text"
                class="form-control validate"
                required=""
              />
            </div>

            <div class="form-group mb-3">
              <label for="name">Description </label>
              <input
                id="name"
                formControlName="description"
                type="text"
                class="form-control validate"
                required=""
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger light"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="updatecategorys()"
            data-bs-dismiss="modal"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
