<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
      <li class="has-menu">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-networking"></i>
          <span class="nav-text">Entreprise</span>
        </a>
        <ul aria-expanded="false">
          <li><a routerLink="/home/listentreprise">Listes Entreprises</a></li>
        </ul>
      </li>
      <li class="has-menu">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-television"></i>
          <span class="nav-text">Offre</span>
        </a>
        <ul aria-expanded="false">
          <li><a routerLink="/home/listoffre">Listes Offres</a></li>
        </ul>
      </li>
      <li class="has-menu">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-controls-3"></i>
          <span class="nav-text">Categories</span>
        </a>
        <ul aria-expanded="false">
          <li><a routerLink="/home/category">Liste Categories</a></li>
        </ul>
      </li>
      <li class="has-menu">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-internet"></i>
          <span class="nav-text">Place</span>
        </a>
        <ul aria-expanded="false">
          <li><a routerLink="/home/listplace">Listes Places</a></li>
        </ul>
      </li>
      <li class="has-menu">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-heart"></i>
          <span class="nav-text">Skill</span>
        </a>
        <ul aria-expanded="false">
          <li><a routerLink="/home/listskill">List Skill</a></li>
        </ul>
      </li>
      <li class="has-menu">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-notepad"></i>
          <span class="nav-text">Contart</span>
        </a>
        <ul aria-expanded="false">
          <li><a routerLink="/home/listcontrat">Listes contrats</a></li>
        </ul>
      </li>
      <li class="has-menu">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="flaticon-381-network"></i>
          <span class="nav-text">Condidature</span>
        </a>
        <ul aria-expanded="false">
          <li><a routerLink="/home/condidature">Listes Condidature</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
