<div id="preloader" style="display: none">
  <div class="sk-three-bounce">
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
  </div>
</div>

<div id="main-wrapper" class="show">
  <div class="content-body" style="min-height: 1100px">
    <div class="container-fluid">
      <div class="page-titles">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Table</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="javascript:void(0)">Datatable</a>
          </li>
        </ol>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Basic Datatable</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div id="example_wrapper" class="dataTables_wrapper">
                  <div>
                    <button
                      type="button"
                      class="ttt"
                      data-bs-toggle="modal"
                      data-bs-target=".bd-example-modal-sm1"
                    ></button>
                  </div>
                  <table
                    id="example"
                    class="display table-responsive-md dataTable"
                    role="grid"
                    aria-describedby="example_info"
                  >
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting_asc"
                          tabindex="0"
                          aria-controls="example"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Name: activate to sort column descending"
                          style="width: 259.609px"
                        >
                          numero
                        </th>
                        <th
                          class="sorting_asc"
                          tabindex="0"
                          aria-controls="example"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Name: activate to sort column descending"
                          style="width: 259.609px"
                        >
                          Offre
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="example"
                          rowspan="1"
                          colspan="1"
                          aria-label="Position: activate to sort column ascending"
                          style="width: 403.188px"
                        >
                          Condidate
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="example"
                          rowspan="1"
                          colspan="1"
                          aria-label="Salary: activate to sort column ascending"
                          style="width: 164.078px"
                        >
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of listcondidature; let index = index">
                        <td class="sorting_1">{{ index + 1 }}</td>
                        <td>{{ p.offre.titre }}</td>

                        <td>{{ p.condidate.email }}</td>
                        <td>
                          <div class="d-flex">
                            <a
                              href="http://localhost:4000/getfile/{{
                                p.picture
                              }}"
                              class="btn btn-primary shadow btn-xs sharp me-1"
                              ><i class="fas fa-pencil-alt"></i
                            ></a>

                            &nbsp;
                            <a
                              (click)="deletecondidatures(p._id)"
                              class="btn btn-danger shadow btn-xs sharp"
                              ><i class="fa fa-trash"></i
                            ></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
