<body class="h-100">
  <div class="authincation h-100">
    <div class="container h-100">
      <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-6">
          <div class="authincation-content">
            <div class="row no-gutters">
              <div class="col-xl-12">
                <div class="auth-form">
                  <div class="text-center mb-3">
                    <a href="index.html"
                      ><img
                        src="/assets/images/logo job gate vertical-1 512.png"
                        height="130px"
                        width="180px"
                        alt=""
                    /></a>
                  </div>
                  <h4 class="text-center mb-4 text-white">
                    Sign up your account
                  </h4>
                  <form [formGroup]="admin">
                    <div class="form-group">
                      <label class="mb-1 text-white"
                        ><strong>Username</strong></label
                      >
                      <input
                        formControlName="fullname"
                        type="text"
                        class="form-control"
                        placeholder="fullname"
                      />
                    </div>
                    <div class="form-group">
                      <label class="mb-1 text-white"
                        ><strong>Email</strong></label
                      >
                      <input
                        type="email"
                        formControlName="email"
                        class="form-control"
                        placeholder="email@example.com"
                      />
                    </div>
                    <div class="form-group">
                      <label class="mb-1 text-white"
                        ><strong>Password</strong></label
                      >
                      <input
                        type="password"
                        formControlName="password"
                        class="form-control"
                        value="Password"
                      />
                    </div>
                    <div class="text-center mt-4">
                      <button
                        type="submit"
                        class="btn bg-white text-primary btn-block"
                        (click)="registeradmin()"
                        routerLink="/"
                      >
                        Sign me up
                      </button>
                    </div>
                  </form>
                  <div class="new-account mt-3">
                    <p class="text-white">
                      Already have an account?
                      <a class="text-white" routerLink="/">Sign in</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
