<div class="content-body" style="min-height: 1100px">
  <div class="container-fluid">
    <div class="row page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="javascript:void(0)">Layout</a>
        </li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Blank</a></li>
      </ol>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-6 col-md-6 col-xxl-5">
                <div class="tab-content">
                  <div
                    role="tabpanel"
                    class="tab-pane fade show active"
                    id="first"
                  >
                    <img class="img-fluid" src="images/product/1.jpg" alt="" />
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="second">
                    <img class="img-fluid" src="images/product/2.jpg" alt="" />
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="third">
                    <img class="img-fluid" src="images/product/3.jpg" alt="" />
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="for">
                    <img class="img-fluid" src="images/product/4.jpg" alt="" />
                  </div>
                </div>
                <div class="tab-slide-content new-arrival-product mb-4 mb-xl-0">
                  <ul class="nav slide-item-list mt-3" role="tablist">
                    <li role="presentation" class="show">
                      <a href="#first" role="tab" data-bs-toggle="tab">
                        <img
                          class="img-fluid"
                          src="images/tab/1.jpg"
                          alt=""
                          width="50"
                        />
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#second" role="tab" data-bs-toggle="tab"
                        ><img
                          class="img-fluid"
                          src="images/tab/2.jpg"
                          alt=""
                          width="50"
                      /></a>
                    </li>
                    <li role="presentation">
                      <a href="#third" role="tab" data-bs-toggle="tab"
                        ><img
                          class="img-fluid"
                          src="images/tab/3.jpg"
                          alt=""
                          width="50"
                      /></a>
                    </li>
                    <li role="presentation">
                      <a href="#for" role="tab" data-bs-toggle="tab"
                        ><img
                          class="img-fluid"
                          src="images/tab/4.jpg"
                          alt=""
                          width="50"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <img class="img-fluid" src="images/product/4.jpg" alt="" />

              <div class="col-xl-9 col-lg-6 col-md-6 col-xxl-7 col-sm-12">
                <div class="product-detail-content">
                  <div class="new-arrival-content pr">
                    <div class="comment-review star-rating"></div>
                    <div class="d-table mb-2">
                      <p class="price float-start d-block">$325.00</p>
                    </div>
                    <p>
                      Titre: <span class="item"> {{ offre.titre }} </span>
                    </p>
                    <p>
                      Salaire : <span class="item">{{ offre.salaire }}</span>
                    </p>
                    <p>
                      Place: <span class="item">{{ offre.place.name }}</span>
                    </p>
                    <p>
                      Skills:
                      <span class="item">{{ offre.skill.nbexperience }}</span>
                    </p>
                    <p>
                      Description :
                      <span class="item">{{ offre.description }}</span>
                    </p>
                    <p>
                      Category :
                      <span class="item">{{ offre.category.name }}</span>
                    </p>
                    <p>
                      Entreprise :
                      <span class="item">{{ offre.entreprise.fullname }}</span>
                    </p>

                    <div class="d-flex align-items-end flex-wrap mt-4">
                      <div class="filtaring-area me-3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <textarea class="form-control" placeholder="Comment" rows="5"></textarea>
  </div>
</div>
