<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 col-xxl-8">
        <div class="row">
          <div class="col-xl-12">
            <div class="card profile-card">
              <div class="card-body">
                <form>
                  <div class="mb-sm-5 mb-2">
                    <div class="title mb-4">
                      <span class="fs-18 text-black font-w600">Generals</span>
                    </div>
                    <div class="row">
                      <div class="col-xl-4 col-sm-6">
                        <div class="form-group">
                          <label>Full Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="fullname"
                            value="{{ userconnect.fullname }}"
                          />
                        </div>
                      </div>

                      <div class="col-xl-4 col-sm-6">
                        <div class="form-group">
                          <label>Email</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="email"
                            value="{{ userconnect.email }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
